{% extends 'base.html' %}
{% block title %}
Tieket Logs
{% endblock title %}
{% block chw %}
<div class="row mb-2">
  <div class="col-sm-6">
    <h1 class="m-0">Tickets Logs</h1>
  </div><!-- /.col -->
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Tickets Logs</li>
    </ol>
  </div><!-- /.col -->
</div>
{% endblock chw %}
{% block content %}
<div class="container-fluid">
  <!-- Info boxes -->
  <div class="row">
    
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
{% endblock content %}